.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box {
  width: 10%;
  height: 100px;
  padding: 1em;
  text-align: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

  