.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    height: 300px;
    position: absolute;
    right: 0;
  }
  
  .box {
    width: 25%;
    height: 100px;
    padding: 1em;
    text-align: center;
  }
  
  .red {
    background-color: red;
  }
  
  .blue {
    background-color: blue;
  }
  
  .green {
    background-color: green;
  }
  